# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Env / secrets
.env
.env.*
!.env.example

# Web
web/node_modules/
web/dist/
web/.vite/
